/*-- scss:defaults --*/

$body-bg: #ffffff !default;
$body-color: #222 !default;
$border-color: #00998A !default;
$presentation-heading-color: #00998A !default;
$presentation-title-slide-text-align: right;

/*-- scss:rules --*/
.reveal .slide h2 {
  background-color: #00998A;
  color: white;
  padding-left: 10px;
}

.reveal .my-title div {
  margin-left: 50%;
  margin-top: 30%;
}

.reveal .my-title h1 {
  font-size: 30px;
}

.reveal .my-title h2 {
  font-size: 28px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author,
.reveal .quarto-title-block .quarto-title-authors {
  padding-right: 0px;
  padding-left: 0px;
  display: block;
}

.reveal .slide h2 {
  /* background-image: url("fom.jpg"); */
  background-image: url("../../../../../fom.jpg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position-x: right 10px;
}
