/*-- scss:defaults --*/

$body-bg: #ffffff !default;
$body-color: #222 !default;
$border-color: #00998A !default;
$presentation-heading-color: #00998A !default;
$presentation-title-slide-text-align: right;

/*-- scss:rules --*/
.reveal .slide h2 {
  background-color: #00998A;
  color: white;
  padding-left: 10px;
}

.reveal .my-title div {
  margin-left: 50%;
  margin-top: 30%;
}

.reveal .my-title h1 {
  font-size: 30px;
}

.reveal .my-title h2 {
  font-size: 28px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author,
.reveal .quarto-title-block .quarto-title-authors {
  padding-right: 0px;
  padding-left: 0px;
  display: block;
}

.reveal .slide h2 {
  /* background-image: url("fom.jpg"); */
  background-image: url("../../../../../fom.jpg");
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: top 0px right 10px;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0 15pt; 
  }
  h2 {
      font-size: clamp(2em, calc(2em + 1vw), 3em);
  }
  .reveal .slide li {
    margin-left: 1em !important;
  }
  .reveal .slide h2 {
    color: white !important;
    font-size: 200% !important;
  }
  div.slide-menu-botton,
  div.slide-chalkboard-bottons {
    display: none;
  }
  .footer {
    text-align: center;
  }
}
